/* --- client --- */
.client-flex {
	display: flex;
}

.client-flex .client-items {
	box-sizing: border-box;
}

.client-items {
	width: 170px;
	height: 92px;
}

.client-items:not(:last-child) {
	margin-right: 30px;
}

.client-link {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	color: var(--color-icon);
	border: 1px solid var(--color-border-client);
	border-radius: 4px;

	transition:
		border var(--time-animation) var(--timing-function),
		color var(--time-animation) var(--timing-function);
}

.client-icon {
	fill: currentColor;
}

.client-link:hover,
.client-link:focus {
	border: 1px solid var(--color-accent);
	color: var(--color-accent);
}