/* --- container --- */
.container {
	width: 1200px;
	padding: 0 15px;

	@extend %container-position;
}

.nav-site,
.nav-flex,
.contact-flex {
	display: flex;
	padding: 0;
	margin: 0;
}

// .flex-container {
// 	display: flex;
// 	padding: 0;
// 	margin: 0;
// 	justify-content: center;
// 	align-items: center;
// }