/* --- section idea --- */
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.idea-flex>.item {
	width: 270px;
}

.idea-bgr-icon {
	display: flex;
	width: 100%;
	height: 120px;
	margin-bottom: 30px;
	align-items: center;
	justify-content: center;
	background-color: var(--color-bgr-alternative);
	border-radius: 4px;
}

.idea-head {
	margin-bottom: 10px;

	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--color-header);
}