/* --- модалка --- */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition:
		opacity var(--time-animation) var(--timing-function);
}

.backdrop.is-hidden {
	pointer-events: none;
	opacity: 0;
}

.backdrop.is-hidden .modal {
	opacity: 0;
	transform: translate(-50%, -50%) scale(0);
}

.modal {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;

	width: 528px;
	padding: 40px;

	font-family: inherit;

	justify-content: center;
	align-items: center;

	background: var(--color-bgr-head);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
	transition:
		opacity var(--time-animation) var(--timing-function) var(--time-animation),
		transform var(--time-animation) var(--timing-function) var(--time-animation);
}

.form-header {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	color: var(--color-header);
}

.form-field {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;

	width: 100%;
}

.last-field {
	margin-bottom: 20px;
}

.form-field label {
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--color-main);
}

.field-input {
	display: flex;
	flex-direction: column;
	position: relative;

	width: 100%;
}

.field-input input {
	padding: 11px;
	padding-left: 42px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition:
		border var(--time-animation) var(--timing-function);
}

.active-field:hover,
.active-field:focus {
	outline: none;
	border: 1px solid var(--color-accent);
}

.active-field:hover+.icon-input,
.active-field:focus+.icon-input {
	fill: var(--color-accent);
}

.icon-input {
	position: absolute;
	top: 50%;
	left: 12px;

	fill: var(--color-header);
	transform: translateY(-50%);

	transition:
		fill var(--time-animation) var(--timing-function);
}

.form-field textarea {
	padding: 11px 16px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	resize: none;
	transition:
		border var(--time-animation) var(--timing-function);
}

.form-field textarea::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.consent {
	margin-bottom: 30px;
}

.label-consent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 8px;

	width: 16px;
	height: 16px;

	border: 2px solid var(--color-header);
	border-radius: 2px;
	transition:
		border var(--time-animation) var(--timing-function);
}

.checkbox-icon>svg {
	fill: transparent;
	transition:
		fill var(--time-animation) var(--timing-function);
}

.checkbox-consent:checked+.label-consent>.checkbox-icon {
	border: none;
}

.checkbox-consent:checked+.label-consent svg {
	fill: var(--color-accent);
}

.text-consent {
	margin-right: 4px;
}

.link-consent {
	color: var(--color-accent);
}

// готово
.submit-button {
	@extend %button-main;
	min-width: 200px;
	padding: 10px 52px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition:
		background-color var(--time-animation) var(--timing-function);
}

.submit-button:hover,
.submit-button:focus {
	background-color: var(--color-btn-active);
}

.close-button {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 8px;
	right: 8px;

	width: 30px;
	height: 30px;

	background: var(--color-bgr-head);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;

	color: var(--color-logo);
	transition:
		color var(--time-animation) var(--timing-function);
}

.close-button:hover,
.close-button:focus {
	color: var(--color-accent);
}

.close-modal {
	fill: currentColor;
}