/* --- header --- */
.header {
	border-bottom: 1px solid var(--color-border-section);
}

.header-flex {
	display: flex;
	align-items: center;
}

.nav-site {
	align-items: center;
}

.nav-site,
.nav-flex,
.contact-flex {
	display: flex;
	padding: 0;
	margin: 0;
}

.nav-flex {
	margin-left: 93px;
}

.nav-flex>.item {
	display: block;
}

.contact-flex {
	margin-left: auto;
}

.item-flex {
	display: flex;
	align-items: center;
}

.contact-bgr-icon {
	display: flex;
	align-items: center;

	color: var(--color-main);
}

.contact-bgr-icon:hover {
	color: var(--color-accent);
}

.contact-icon {
	display: inline-block;
	margin-right: 10px;
	fill: currentColor;
}

.nav-flex .link,
.contact-flex .link {
	padding-top: 32px;
	padding-bottom: 32px;
}

.nav-flex>.item:not(:last-child),
.contact-flex>.item:not(:last-child) {
	margin-right: 50px;
}

.idea-flex,
.work-flex,
.team-flex,
.client-flex {
	display: flex;
}

.idea-flex>.item:not(:last-child),
.work-flex>.item:not(:last-child),
.team-flex>.item:not(:last-child),
.client-flex>.item:not(:last-child) {
	margin-right: 30px;
}

.nav-text {
	color: var(--color-header);
}

.nav-text,
.contact-text {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.current {
	position: relative;
	color: var(--color-accent);
}

.current::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;

	background-color: var(--color-accent);
	border-radius: 2px;
}