/* --- portfolio --- */

.projects-flex {
	display: flex;
	flex-wrap: wrap;
}

.projects-flex .item {
	width: calc((100% - 60px) / 3);
}

.projects-flex .item:not(:nth-child(3n)) {
	margin-right: 30px;
}

.projects-flex .item:not(:nth-last-child(-n+3)) {
	margin-bottom: 30px;
}

.card-progects {
	width: 370px;
	background-color: var(--color-bgr-head);
}

.card-link {
	display: block;
	width: 100%;
	height: 100%;

	box-shadow: 0;
	transition:
		box-shadow var(--time-animation) var(--timing-function);
}

.card-link:hover,
.card-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
		0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

.progect-description {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	padding: 24px;
	background-color: rgba(33, 150, 243, 0.9);

	font-size: 18px;
	line-height: 1.56;
	color: var(--color-bgr-head);

	transform: translateY(100%);
	opacity: 0;
	transition:
		transform var(--time-animation) var(--timing-function),
		opacity var(--time-animation) var(--timing-function);
}

.card-link:hover .progect-description,
.card-link:focus .progect-description {
	transform: translateY(0);
	opacity: 1;
}

.card-text-progect {
	padding: 20px 24px;
	border-right: 1px solid var(--color-border-card);
	border-bottom: 1px solid var(--color-border-card);
	border-left: 1px solid var(--color-border-card);
}

.projects-head {
	margin-bottom: 4px;

	font-weight: 700;
	font-size: 18px;
	line-height: 2.0;
	letter-spacing: 0.06em;
	color: var(--color-header);
}

.projects-text {
	font-size: 16px;
	line-height: 1.88;
	color: var(--color-main);
}