/* --- section team --- */
.team {
	@extend %indent-in-section;
	background-color: var(--color-bgr-alternative);

	&__heading {
		margin-bottom: 50px;
	}
}




.card-employes,
.card-progects {
	background-color: var(--color-bgr-head);
}

.card-employes {
	width: 270px;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.card-text-employe {
	padding: 30px 32px;
	text-align: center;
}

.team-head {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	color: var(--color-header);
}

.team-text {
	margin-bottom: 16px;
}

.team-head,
.team-text {
	font-size: 16px;
	line-height: 1.19;
}

.team-soc-contact {
	display: flex;
	margin: 0;
}

.soc-items {
	width: 44px;
	height: 44px;
}

.soc-items:not(:last-child) {
	margin-right: 10px;
}

.soc-link {
	display: flex;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}

.team-link {
	background-color: var(--color-bgr-head);
	color: var(--color-icon);

	transition:
		background-color var(--time-animation) var(--timing-function),
		color var(--time-animation) var(--timing-function);
}

.soc-icon {
	fill: currentColor;
}

.team-link:hover,
.team-link:focus {
	background-color: var(--color-accent);
	color: var(--color-bgr-head);
}

.team-link:hover .soc-icon,
.team-link:focus .soc-icon {
	fill: var(--color-bgr-head);
}