/* --- section work --- */
.work {
	padding-top: 0;
}

.section-head {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.28;
	text-align: center;
	color: var(--color-header);
}

.pos-relative {
	position: relative;
	overflow: hidden;
}

.work-description {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);

	line-height: 1.14;
	color: var(--color-bgr-head);
	text-transform: uppercase;
	font-weight: 700;
}