body {
	background-color: var(--color-bgr-head);

	font-family: $font-main;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--color-main);
	}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.main__hero {
	margin-left: auto;
	margin-right: auto;
}

.link {
	color: var(--color-main);

	transition:
		color var(--time-animation) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--color-accent);
	}
}

.grid {
	@extend %list;
	@extend .flex-container;

	&__item:not(:last-child) {
		margin-right: 30px;
	}
}

// видалити після переводу секцій на БЕМ і SASS ( %indent-in-section )
						.section {
							padding-top: 94px;
							padding-bottom: 94px;
						}
// видалити після переводу секцій на БЕМ і SASS ( %list )
						.list {
							padding: 0;
							margin: 0;
							list-style-type: none;
						}